<h1>Books</h1>


<% @books.each do |book| %>
<div>
  <%= link_to user_path(book.user.id) do %>
  <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <% end %>
  <p>Title：<%= link_to book.title, book_path(book.id) %></p>
  <p>Opinion：<%= book.body %></p>

  
</div>
<% end %>






<%= flash[:success] %>
<%= flash[:danger] %>
<h1>User info</h1>
<div class="profile-container">
  <!-- image -->
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <!-- name -->
  <p class = "profile-name">name:<%= current_user.name %></p>
  <!-- introduction -->
  <p class = "profile-introduction">introduction:<%= current_user.introduction %></p>

  <!-- link>>users/edit -->
   <%# if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(current_user) %></p>
  <%# end %>
</div>





<% if @new_book.errors.any? %>
  <p><%= @new_book.errors.count %>件のエラーが発生しました</p>
  <% @new_book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<h1>New book</h1>
<div>
  <%= form_with model:@new_book, local:true do |f| %>
  <label for="inputTitle">title</label>
   <%= f.text_field :title %>
  <label for="inputBody">Opinion</label>
   <%= f.text_area :body %>

  <%= f.submit "Create Book" %>
  <% end %>
</div>


